

<% if (user) { %>
  
    <br>
    <br>

    <a href="/auth/sign-out">Sign Out</a>
    <a href="/auth/<%= user._id %>/settings">Account settings</a>
    <a href="/mystuff">My Stuff</a>

<% } else { %>  
    
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Login</a>
   
<% } %>

